.swiper {
    margin-top: 5px;
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background: linear-gradient(#0e071451, #4389a232);
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.swiper-slide {
    color: #fff;
    width: 40px;
    background-image: linear-gradient(to top, #30d0d06f 0%, #3308676a 100%);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px;
    color: #ffffff9b;
    background: #ffffff1a;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    .swiper {
        height: 270px;
    }
}
