.swiper {
    margin-top: 5px;
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background: linear-gradient(#2e1a3f3c, #1f4b5b32);
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.swiper-slide {
    color: #fff;
    width: 40px;
    background-image: linear-gradient(to top, #108e8e3c 50%, #4d0c9d3d 100%);
    border-radius: 10px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px;
    color: #ffffff9b;
    background: #ffffff1a;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 640px) {
    .swiper {
        height: 280px;
    }
}
